
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="index.css">


    <title>SPA</title>
</head>
<body>

    <div class="container" >

        <div class="cima"  >

            <img src="/public/assets/images/MARCA DÁGUA DA SUBMARCA.png" alt="">
            <nav  class="superior"  >
                <a href="#">home</a></nav>

                <nav><a href="#">sobre nós</a></nav>
               <nav> <a href="/src/components/pages/home/page/produtos.html">produtos</a></nav>
              <nav>  <a href="#">procedimentos</a> </nav>
               
               <br>
         

       

           

        </div>
      
                    <br>
                    <br>


        <div  class="meio"  >

            <div  class="texto"  >

                <h1>A beleza é um propósito <br>
                    e nosso propósito é você
                </h1>

                <p>Com a utilização de produtos naturais , <br>
                     veganos e terapias integrativas , <br>
                     nosso SPA oferece a você luxo de mente, corpo e alma! </p>

            </div>

            <img  class="capa"  src="/public/assets/images/capa.jpeg" alt="">

        </div>

    </div>
    

    <img class="non"  src="/public/assets/images/MARCA DÁGUA DA LOGO.png" alt="">
    <h1  class="none"  >converse conosco!</h1>

    <div  class="container2"   > 

      
       

        <div  class="cartao"   >

            <h1>nosso whatsapp</h1>
            <a href="https://linkme.bio/contatoadrianagomes?fbclid=PAAabtDFv6VyjN5xi-rldGU9jj68Y2Qd34fknyCpuNvBcRoQB1Uk90ubLNhVU">fale conosco!</a>



        </div>

        <div class="cartao" >

            <h1>nosso instagram</h1>
         <a href="https://www.instagram.com/espaco.adrianagomes?igsh=cmdjOXIyNzBlNjYz">siga-nos!</a>


        </div>

        <div class="cartao" >

            <h1>nosso grupo vip</h1>
         <a href="https://www.instagram.com/espaco.adrianagomes?igsh=cmdjOXIyNzBlNjYz">siga-nos!</a>


        </div>





    </div>


</body>
</html>
    
   